@import '~assets/colors'

:host
	position fixed 
	top 0
	display block
	width 100%
	background-color $blue
	box-shadow 0 3px 5px -1px rgba($blue, 0.3)

.header-wrapper	
	display flex
	height 50px
	justify-content space-between
.logo
	height 30px
	width 30px
	border-radius 50%
	background-color #fff
	&-wrapper 
		height 100%
		display flex
		align-items center

.links-wrapper
	display flex
	align-items center
	color #fff

.link 
	&-wrapper 
		margin-left 15px
	&-header
		height 47px
		line-height 50px
		padding 0 15px
		display inline-block
		border-bottom 3px solid transparent
		transition 0.3s all
		&-active
			border-bottom 3px solid #fff
		&:hover 
			border-bottom 3px solid #fff
