/* You can add global styles to this file, and also import other style files */
@import '~assets/fonts'

body 
	margin 0

* 
	font-family "Google"


.container 
	width 100%
	max-width 960px
	margin 0 auto

.link
	text-decoration none
	cursor pointer
	color unset
	outline none